@media (max-width: 1440px){
  .nav-bar{
    width: 1000px;
  }
  .mainTitle__wrapper {
    width: 1000px;
  }
  .mainContent{
    &__wrapper{
      width: 1000px;
    }
    
    &__newsBlockItem{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__newsBlockContainer{
      max-width: 485px;
      

    }
    &__newsBlockButtonContainer{
      bottom: 75px;
    }
  }
  .building__container{
    width: 1000px;
  }
  .advertisement{
    &__container{
      width: 1000px;
    }
  }
  .footer{
    &__container{
      width: 1000px;
    }
  }
}

@media (max-width:1280px){
  .nav-bar{
    width: 880px;
  }
  .mainTitle__wrapper {
    width: 880px;
  }

  .mainContent{
    height: auto;
    &__wrapper{
      width: 880px;
      padding-bottom: 0;
    }
    &__newsBlock{
      &Item{
        max-height: calc(50% - 15px);
      }
    }
    &__newsBlockButtonContainer{
      bottom: 65px;
    }
    &__slider{
      width: 424px;
      &Track{
        width: 424px;
      }
      &Item{
        max-width: 212px;
        min-height: 310.5px;
        &Title{
          font-size: 18px;
        }
        &Text{
          font-size: 12px;
        }
        &Photo{
          width: 100%;
          height: auto;
        }
      }
      .arrow-next{
        right: 30px;
      }
      .arrow-prev{
        left:0;
      }
    }
  }
  
  .building{
    &__container{
      width: 880px;
      height: 100%;
      position: relative;
    }
    &__wrapper{
      left: 0;
    }
  }
  .advertisement{
    height: auto;
    &__container{
      width: 880px;
    }
    &__bannerTarget{
      width: 660px;
      height: auto;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
  .footer{
    &__container{
      width: 880px;
    }
    &__logoTitle{
      font-size: 28px;
    }
    &__logoText{
      font-size: 12px;
    }
  }
}

@media (max-width: 1024px){
  .header-title{
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
  }
  .header{
    height: auto;
  }
  .nav-bar{
    width: 720px;
    &-item{
      font-size: 13px;
    }
  }

  .mainTitle{
    &__title{
      font-size: 48px;
    }
    &__text{
      font-size: 16px;
    }
    &__wrapper{
      width: 720px;
    }
  }

  .mainContent{
    &__wrapper{
      width: 720px;
      column-gap: 20px;
    }
    &__newsBlock{
      width: 350px;
      height: 1300px;
      &Button{
        &Container{
          padding: 0;
        }
        &-latestPosts{
          
          padding: 10px 0;
          position: absolute;
          bottom: -40px;
          
        }
      }
      &Item{
        &Buttons{
          flex-direction: column;
          justify-content: center;
        }
        &Text{
          line-height: 19px;
        }
        &Button{
          padding: 10px 0;
          
        }
      }
    }

    &__slider{
      width: 350px;
      height: 1300px;
      &Item{
        max-width: 170px;
        max-height: 305px;
        min-height: 305.3px;
        padding: 10px;

        &Text{
          line-height: 16px;
        }
      }
      .slider-pages{
        padding: 15px 25px;
      }
      .arrow-next, .arrow-prev{
        bottom: 15px;
      }
      .slider-pages > li > button{
        padding: 10px 0;
        height: auto;
      }
      #slick-slide-control13{
        display: none;
      }
      .arrow-next{
        right: 10px;
      }
      &Track{
        width: 350px;
      }
    }
  }

  .building{
    &__container{
      width: 720px;
    }
  }
  .advertisement{
    &__container{
      width: 720px;
      
    }
    &__wrapper{
      flex-direction: column;
      row-gap: 20px;
    }
    &__bannerTarget{
      width: 100%;
      height: auto;
    }
  }

  .footer{
    &__container{
      width: 720px;
    }
  }
}